<div class="container panel panel-primary text-center">
<h1>This is the placeholder for this page.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo consequatur assumenda temporibus architecto maxime consectetur, omnis magnam voluptatem vitae ab, iusto vero quasi expedita quibusdam autem molestias. Fugiat officiis minima architecto animi ex aliquam deserunt quidem voluptatem beatae. Excepturi voluptatibus soluta natus quam iste laborum, ex iusto dignissimos eaque ipsum.</p>
</div>